.banner-box{
    background-color:#5373E3;
    /* background-color: red; */
    color:aliceblue;
    overflow: auto;
    width:100%;
    padding:60px 90px;
    /* height: 1000px; */
}


@media screen and (max-width: 480px){
    .banner-box{
        background-color:#5373E3;
        color:aliceblue;
        overflow:none;
        width:100%;
        padding:60px 90px ;
    }
}