.right-banner-box{
    width:53%;
    height:640px;
    /* background-color: orange; */
    float:right;
    overflow: auto;
    padding:8px 20px;
    
    
}

@media screen and (max-width: 480px){
.right-banner-box{
    /* background-color: red; */
    padding:50px 20px 0px 60px;
    width:200%;
    margin-left: -90px;
    height:1050px;
    float: none;
    overflow: hidden;
   
   
}
}